__pycache__
*.cpython
.mypy_cache
venv
.idea
.ipynb_checkpoints
.vscode
inspiration
logs
.pytest_cache
Pipfile
.pylint.d
terrain
dataset/sim_dataset
dataset/raw_dataset
dataset/logs
pymavlink
dataset/letter_set/*
dataset/LOWER.zip
images
TPS-ResNet-BiLSTM-Attn-case-sensitive.pth
targets
scripts/ocr_testing.py
log_demo_result.txt
ESPCN_x4.pb
TPS-ResNet-BiLSTM-Attn.pth
.venv
result
