[submodule "deeptext"]
	path = deeptext
	url = https://github.com/o-gent/deep-text-recognition-benchmark.git
[submodule "dronekit-python"]
	path = dronekit-python
	url = https://github.com/o-gent/dronekit-python.git
