__pycache__
*.cpython
.mypy_cache
venv
.idea
.ipynb_checkpoints
.vscode
recognition_train/training
inspiration
logs
.pytest_cache
Pipfile
.pylint.d
terrain
dataset/sim_dataset
dataset/raw_dataset
dataset/logs
dronekit
pymavlink
dataset/letter_set/*
dataset/LOWER.zip
