__pycache__
*.cpython
.mypy_cache
venv
.idea
.ipynb_checkpoints
.vscode
inspiration
.pytest_cache
Pipfile
.pylint.d
terrain
dataset/sim_dataset
dataset/raw_dataset
dataset/logs
pymavlink
dataset/letter_set/*
dataset/LOWER.zip
TPS-ResNet-BiLSTM-Attn-case-sensitive.pth
scripts/ocr_testing.py
log_demo_result.txt
ESPCN_x4.pb
TPS-ResNet-BiLSTM-Attn.pth
.venv
runtime/logs/*